.btn-login {
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 20px;
    background-color: #017E7A;
    padding: 12px 16px;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.btn-login:hover { 
    background-color: #fff;
    color: #017E7A;
}